name: Pipeline Orchestrator

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test-and-publish:
    uses: ./.github/workflows/test.yml
    permissions:
      contents: read
      packages: write
